@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
.map-button {
    z-index: 999;
    position: absolute;
    top: 100px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    border-radius: 15px;
    border: 2px solid rgb(213, 185, 185);
    letter-spacing: 2px;
    background: rgba(0, 14, 65, 0.71);
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.map-button-name {
    position: absolute;
    left: 68px;
    top: 20px;
    font-family: MedievalSharp, cursive;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.map-button:hover {
    background: rgb(12, 0, 49);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    border: 2px solid rgba(31, 19, 0, 0.25);
}

.map-button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.map-button::before {
    content: '';
    display: block;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.map-button-icon {
    width: 100px; /* Set width of the image container */
    height: 100px; /* Set height of the image container */
    background-repeat: no-repeat;
    background-size: cover; /* Adjust the size of the image */
    border-radius: 20%; /* Apply border-radius to create a circular shape */
    margin-left: 43px; /* Add more margin between image and text */
    z-index: 2;
    padding-right: 50px;
    padding-top: 50px;
    align-items: center;
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
