.bo-container {
    position: absolute;
    left: 100px;
    top: 250px;
    width: 400px;
    z-index: 9999;
}

.toggle-leaderbord-button {
    background: url("assets/Tes.png") no-repeat center center;
    background-size: contain;
    position: fixed;
    bottom: 42.5%;
    left: -15px;
    border:none;
    z-index: 1;
    cursor:pointer;
    outline: none;
    width: 100px;
    height: 80px;
    transition: transform 0.3s ease;
}


.toggle-leaderbord-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.leaderboardmenu {
    display: block;
    border: 2px solid #FFD700;
    background-color: #b26616;
    padding: 10px;
    color: white;
    border-radius: 10px;
}


.Lchat-title {
    text-align: center;
    margin-bottom: 10px;
    background-color: black;
    color: rgb(255, 221, 0);
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 10px;
    font-size: 50px;
}