.maincontainer {
    position: absolute;
    left: 900px;
    top: 400px;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.spin-button {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #b26616;
    color: white;
    border-radius: 50%;
    border: 4px solid dimgrey;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.spin-button::before {
    content:' ';
    position: absolute;
    top: -42px;
    width: 40px;
    height: 45px;
    background: #b26616;
    clip-path: polygon(50% 0%,15% 100%,85% 100%);
}

.wheel-container {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 15px #b26616, 0 0 0 18px black;
    transform: translate(-50%, -50%);
    transition: transform 5s ease-in-out;
}

.segments-wheel{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(36deg * var(--i)));
    clip-path: polygon(0% 0%,56% 0%,100% 100%,0% 56%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.segments-wheel span{
    position: absolute;
    transform: rotate(45deg);
    font-size: 1.20em;
    font-weight: bold;
    color: black;
    text-shadow: 3px 5px 2px rgb(0,0,0,0.15);
}

.toggle-wheel-button {
    background: url("assets/wheel-Photoroom.png-Photoroom.png") no-repeat center center;
    background-size: contain;
    position: fixed;
    bottom: -3%;
    left: -70px;
    border:none;
    z-index: 1;
    cursor:pointer;
    outline: none;
    width: 300px;
    height: 220px;
    transition: transform 0.3s ease;
}

.toggle-wheel-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.prize {
    position: fixed;
    width: 400px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: block;
    border: 5px solid black;
    background-color: #b26616;
    padding: 10px;
    color: gold;
    border-radius: 10px;
    z-index: 9999;
    text-align: center;
}

.prize-content {
    text-align: center;
    text-shadow: black;
    font-size: 35px;
}



