
.resourceBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;  background-size: cover;
  width: 25%;
  margin: 0 auto;
  border-radius: 10px;
  top: 0;
  border: 2px solid black;
}

.resourceSection {
  flex: 1;
  text-align: center;
}

.resourceIcon {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

.resourceCount {
  margin-left: 8px;
}

.resourceIcon:hover {
  transform: scale(1.4);
  cursor: pointer;
}