.resourceBar {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(to right, rgb(96, 53, 4), rgb(154, 93, 44), #673909);
  background-size: cover;
  width: 25%;
  margin: 0 auto;
  border-radius: 10px;
  top: 0;
  border: 3px solid #593811;
}

.resourceSection {
  flex: 1;
  text-align: center;
}

.resourceIcon {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

.resourceCount {
  margin-left: 8px;
}

.resourceIcon:hover {
  transform: scale(1.4);
  cursor: pointer;
}