.chat-title {
    text-align: center;
    margin-bottom: 10px; /* Add some space between the title and the message display */
    background-color: black;
    color: rgb(255, 221, 0);
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 20px;
    font-size: 70px; /* Adjust the font size as needed */
  }

.message-display::-webkit-scrollbar {
    display: none;
  }

.chat-container {
    position: fixed;
    bottom: 80px;
    left: -500px; /* Start off screen */
    z-index: 10000;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 500px; /* Adjusted width */
    transition: left 0.5s ease; /* Slide animation */
  }

.chat-container.visible {
    left: 20px; /* Slide in when visible */
  }

.chat-container.hidden {
    left: -500px; /* Slide out when hidden */
  }

.message-display {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    padding-right: 20px;
    margin-top: -5px;
    margin-bottom: 5px; /* Add margin to the bottom */
    background-color: rgb(33, 29, 29);
    border-radius: 13px;
    border: 4px solid #5b1b1b;
  }

.message {
    display: flex;
    font-size: large;
    font-family: italic, sans-serif;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgb(0, 172, 206), rgb(229, 168, 0));
}


.sender-name {
  margin-left: 10px;
}

.message-input {
    padding: 20px;
    font-size: large;
    border: none; /* Remove border to match message box */
    border-radius: 20px; /* Match border-radius of message box */
    width: calc(100% - 40px); /* Adjusted width to account for padding */
    background-image: linear-gradient(to right, rgb(93, 0, 242), rgb(249, 0, 220));
    color: white;
  }

.message-input::placeholder {
  color: rgb(205, 205, 205);
  font-size: medium;
}

.toggle-chat-button {
    position: absolute;
    bottom: 50%;
    transform: translateY(-50%);
    height: 70px;
    width: 50px;
    z-index: 10000;
    padding: 2px;
    background-color: #262826;
    font-family: "Fira Code", italic;
    border: 4px solid #5b1b1b;
    border-bottom-right-radius: 25px; /* Adjust this value to control the roundness */
    border-top-right-radius: 25px; /* Adjust this value to control the roundness */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: left 0.5s ease;
}

.toggle-chat-button.visible {
    left: 516px; /* Slide in when visible */
  }

.toggle-chat-button.hidden {
    left: 0cm; /* Slide out when hidden */
  }

.toggle-chat-button:hover {
    background-color: #d96b00;
    transition: 0.5s ; /* Slide animation */
}



