.toggle-social-button {
    position: absolute;
    bottom: 41%;
    transform: translateY(-50%);
    height: 70px;
    width: 55px;
    z-index: 2;
    padding: 0px;
    background-color: #262826;
    font-family: "Fira Code", italic;
    border: 4px solid #5b1b1b;
    border-bottom-right-radius: 25px; /* Adjust this value to control the roundness */
    border-top-right-radius: 25px; /* Adjust this value to control the roundness */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: left 0.5s ease;
}