.mainpage {
  position: fixed;        /* Position the container fixed to the viewport */
  top: 0;             /* Shift the background image 20px above the top of the viewport */
  left: 0;                /* Align to the left of the viewport */
  width: 100vw;           /* Set width to viewport width */
  height: 100vh;          /* Set height to viewport height */
}

.grid {
    position: absolute;        /* Position the container fixed to the viewport */
    width: 100vw;           /* Set width to viewport width */
    height: 100vh;
    z-index: 2;
}

/*
video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/
