.mainpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.grid {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: block;
}

.fade-in {
    opacity: 0;
    background-color: black;
    transition: opacity 1s ease-in, background-color 1s ease-in;
}

.fade-in-visible {
    opacity: 1;
    background-color: transparent;
}


video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}