@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.toggle-social-button {
    position: fixed;
    bottom: 30%;
    transform: translateY(-50%);
    height: 70px;
    width: 55px;
    z-index: 1; /* Decreased z-index to bring it down in the background */
    padding: 0px;
    background-color: #262826;
    font-family: "Fira Code", italic, serif;
    border: 4px solid #bb4f00;
    border-bottom-right-radius: 25px; /* Adjust this value to control the roundness */
    border-top-right-radius: 25px; /* Adjust this value to control the roundness */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: left 0.5s ease;
}


.toggle-social-button:hover {
    background-color: #d96b00;
    transition: 0.5s ; /* Slide animation */
}

.box-container {
    position: absolute;
    left: 500px; /* Adjust this value as needed */
    top: 80px; /* Adjust this value as needed */
    width: 1350px;
    z-index: 9999; /* Ensure it appears above other elements */
}


.navbar {
    padding: 20px 20px 20px 4%;
    border: 2px solid #ffd700; /* Golden border color */
    border-radius: 10px; /* Match border-radius of message box */
    background-color: #b26616;
    color: white;
}

.visible {
    opacity: 1;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-right: 6rem; /* Increase the right margin to create larger spaces */
}

.socialOption {
    background-color: #8B4513;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px; /* Adding letter spacing */
    border: 2px solid #CD853F;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.socialOption:hover {
    background-color: #A0522D;
    border-color: #A0522D;
}

.socialOption:focus {
    outline: none;
    background-color: #A0522D;
    border-color: #A0522D;
    box-shadow: 0 0 0 3px rgba(160, 82, 45, 0.4);
}







