.navbar-container{
    width: 70%;
}

.page-content{
    background-color: #1f1a18;
    border: 2px solid #ffd700;
    height: 500px;
    border-radius: 10px;
    margin-top: 2px;
}

.create-clan{
    margin: 20px;
}

.nameClan{
    width: 57.8%;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: "Fira Code", serif;
    border-radius: 10px;
    border: 3px solid #484f48;
    color: #ffffff;
    background-image: linear-gradient(to right, rgb(115, 62, 0), rgb(229, 168, 0));
}

.nameClan::placeholder{
    color: #a18c82;
}

.descriptionClan{
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 21px;
    padding-top: 17px;
    padding-bottom: 23px;
    font-size: 20px;
    resize: none;
    width: 60%;
    height: 250px;
    border-radius: 10px;
    border: 3px solid #484f48;
    color: white;
    background-image: linear-gradient(to right, rgb(115, 62, 0), rgb(229, 168, 0));
}

.descriptionClan::placeholder{
    color: #a18c82;
}

.create-clan-button {
    background-color: green;
    font-family: "Fira Code", cursive;
    color: white;
    padding: 23px;
    margin-left: 100px; /* Adjusted margin-left */
    border-radius: 20px;
    position: relative;
    bottom: 30px;
    font-size: 18px;
}


.clanStatus{
    width: 25%;
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    font-family: "Fira Code", serif;
    border-radius: 10px;
    border: 3px solid #484f48;
    color: #ffffff;
    background-image: linear-gradient(to right, rgb(115, 62, 0), rgb(229, 168, 0));
}

.clanStatus option {
    background-color: #ab8340; /* Change this to the desired background color */
    color: black; /* Change this to the desired text color */
}

.join-clan-button {
    background-color: green;
    font-family: "Fira Code", cursive;
    color: white;
    top:2px;
    right: 20px;
    padding: 10px;
    margin-left: 100px; /* Adjusted margin-left */
    border-radius: 20px;
    position: relative;
    bottom: 30px;
    font-size: 18px;
}

.requests-container {
    height: 490px; /* Set your desired height */
    overflow-y: auto; /* Add a scrollbar when content overflows */
}

.requests {
    font-size: large;
    font-family: italic, sans-serif;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgb(164, 85, 14), rgb(86, 76, 59));
}

.search-friend-button {
    background-color: green;
    font-family: "Fira Code", cursive;
    color: white;
    top:2px;
    right: 20px;
    padding: 10px;
    margin-left: 100px; /* Adjusted margin-left */
    border-radius: 20px;
    position: relative;
    bottom: 30px;
    font-size: 18px;
}
