.canvas {
  position: fixed; /* Position the container fixed to the viewport */
  left: 0; /* Align to the left side of the viewport */
  bottom: 0; /* Align to the bottom of the viewport */
  width: 100vw; /* Set width equal to viewport width */
  height: 100vh; /* Set height equal to viewport height */
  overflow: hidden; /* Hide overflow of the image */
}
