.buildoptions-container{
    position: absolute;
    z-index: 5000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.options-content{
    background-image: linear-gradient(to right, rgba(27, 0, 84, 0.67), rgba(62, 0, 115, 0.69), #240036);
    border: 2px solid #5c0281;
    height: 100%;
    width: 1235px;
    border-radius: 10px;
    margin-top: 2px;
    padding: 0 20px 0 20px;
}


.type-container {
    display: flex; /* Use flexbox layout */
    background-color: rgba(31, 26, 24, 0.94);
    border: 2px solid #4f037c;
    height: 200px;
    width: 1235px;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
}


.type-container::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.type-container::-webkit-scrollbar-thumb {
  background-color: #6c5b7b; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Round the corners of the scrollbar thumb */
}

.type-container::-webkit-scrollbar-track {
  background-color: #240036; /* Set the color of the scrollbar track */
}

.type-container::-webkit-scrollbar-thumb:hover {
  background-color: #8757ad; /* Change color on hover */
}


.buildoptions-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.buildoptions-links li {
  margin-right: 3.2rem; /* Increase the right margin to create larger spaces */
}

.type-button {
    background-color: #8B4513;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px; /* Adding letter spacing */
    border: 2px solid #CD853F;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.type-button.selected {
    outline: none;
    background-color: #1f0c02;
    border-color: #5900f1;
    color: #ff7300;
    scale: 1.3;
}

.type-button:hover {
    background-color: #A0522D;
    border-color: #A0522D;
    scale: 1.5;
}

.image-scroll-container {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    white-space: nowrap;
}


.small-image {
    width: 100px;
    height: 100px;
    margin: 55px 150px 30px 50px;
    transition: transform 0.3s ease;
}
.small-image:hover {
    transform: scale(1.7);
    cursor: pointer;
}

.closeMenu {
    color: red;
    background-color: #0e0049;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 25%;
    transition: background-color 0.3s ease;
    position: fixed;
    right: 20px;
    bottom: -500px; /* Initially hidden */
}

.closeMenu:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.closeMenu.visible {
    bottom: 5px; /* Slide in when visible */
    right: 5px;
}


.tooltip {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.building-container:hover .tooltip {
  visibility: visible;
}


